name: CI

on:
  pull_request:
  release:
    types:
      - published

permissions:
  id-token: write
  contents: read

jobs:
  tests:
    if: github.event_name != 'release'
    uses: ./.github/workflows/test.yaml
    secrets: inherit

  release:
    if: github.event_name == 'release'
    uses: ./.github/workflows/release.yml
    with:
      prerelease: ${{ github.event.release.prerelease }}
    secrets: inherit
